body{
    margin: 0;overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
iframe{
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.blockingelement{
    padding: 1rem;
    background-color: aqua;
    height: 150px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}
